nav {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

nav a:hover {
  background-color: #555;
}

.profile img {
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
  max-height: 150px;
}
.profile-container {
  position: relative;
  width: 50%;
  margin: auto;
  align-items: center;
  background-color: rgb(228, 254, 228);
}

.name {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  text-align: center;
}

.profile {
  border-color: rgba(7, 162, 246, 0.835);
  border-width: 1cm;
  border-style: solid;
}

h1 {
  text-align: center;
  color: rgb(9, 59, 9);
  text-shadow: 6px 6px 6px green;
}
.team {
  align-items: center;
}
.profile img:hover {
  transform: scale(1.3);
}
