nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  body {
    padding: 10%;
    font-family: Arial, sans-serif;
    background-color: #dceed1;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 500px;
    padding: 20px;
    background-color: #aac0aa;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .box {
    display: inline-block;
    vertical-align: middle;
    margin: 3%;
  }

  div.title {
    font-size: 50;
    font-weight: 1000;
  }

  div.subtitle {
    font-size: 20;
    font-weight: 600;
  }

  a {
    color: black;
  }