body {
  font-family: Arial, sans-serif;
  background-color: #dceed1;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 500px;
  padding: 20px;
  background-color: #aac0aa;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.emissions-form {
  display: flex;
  margin-bottom: 20px;
}

.emissions-form input,
select {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#mode {
  width: 20%;
  margin-left: 4%;
}

.emissions-form button {
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #a18276;
  color: #fff;
}

.emissions-form button:hover {
  background-color: #6d5951;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.completed {
  text-decoration: line-through;
  color: #777;
}
